<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="log-appender/console-appender.xml"/>
    <include resource="log-appender/cloudwatch-appender.xml"/>
    <logger name="com.gist.graduation" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
